/bookmarks
/eln-cache/
/straight/
/auto-save-list/
/transient/
/local.el
/history
/projects
/emms/
/custom.el
/.org-id-locations
/.cache/
/tramp
/tree-sitter/
/server/
/url/
/.dap-breakpoints
/.lsp-session-v1
/org-roam.db
/network-security.data
/org-persist/
