/bookmarks
/eln-cache/
/elpa/
/elpaca/
/multisession/
/transient/
/auto-save-list/
tramp
history
projects
local.el
/easysession/
/org-persist/
/server/
/.org-id-locations
/emms/
/custom.el
/.lsp-session-v1
