/eln-cache/
/elpaca/
/bookmarks
/local-init.el
/projects
/history
/tramp
/auto-save-list/
/easysession/
/.mc-lists.el
/transient/
/.org-id-locations
/multisession/
/custom.el
/org-persist/
/.lsp-session-v1
/tree-sitter/
/workspace/
/org-clock-save.el
/.dap-breakpoints
/url/
